---
---

body
  font-size: 18px

h1
  font-size: 60px

h1, h2, h3, h4
  code
    background: transparent
    padding: 0

code
  background: #ededed
  padding: 0.4em
  color: black

.example
  margin-top: 10px
  margin-bottom: 20px

@media only screen and (max-width : 600px)
  h1, h2, h3, h4
    text-align: center
